
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

$main-red: #c61313;
$red: #FF3547;
$main-black: #252525;
$blue: #000066;
$green: #01c851;
$grey: #F2F5F7;
$white: #fff;
$dark-grey: #404040;
$border-grey: #c2c8cc;
$orange: #FF8B00;
$special-font: 'Libre Baskerville', 'arial', serif;
